doctype
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title TITLE HERE
    meta(name='description', content='DESCRIPTION HERE')
    meta(name='keywords', content='KEYWORDS HERE')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body
  
    
  block main
  

  footer
    p Footer Content